<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css"> 
    <link rel="icon" href="경북소프트웨어고등학교_로고.jpg">
    <title>경소고 급식</title>
    <style>
        *{
            margin: 0 auto;
            padding: 0;
            text-align: center;
        }
        button{
            margin-right: 320px;
        }
        section{
            margin-left: 320px;
        }
        p{
            display: flex;
            margin-right: 320px;
            flex-wrap: wrap;
            text-align: center;
        }
        @media only screen and (max-width:600px){
            
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <a href="/"><h1>경소고 급식</h1></a>
        </nav>
    </header>
    <form method="POST" class="center">
        <input type="text" placeholder="날짜입력 ex)03/7" required name="day"/><br>
        아침<input type="radio" required name="how" value="breakfast" id="s1"/>
        점심<input type="radio" required name="how" value="lunch" id="s2"/>
        저녁<input type="radio" required name="how" value="dinner" id="s3"/><br>
        <button>검색하기</button>
    </form>
    <section>
            <p>{{.}}</p>
        
    </section>
    <footer>&copy; 2023 경소고 급식</footer>
</body>
</html>